    /* General */
* {
	box-sizing: border-box;
}


html, body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;;
}

.drapeau {
    position: relative;
    float: left;
}

html {
    font-size: 16px;
	scroll-behavior: smooth;
}

body {
    z-index: 1;
    color: #484b6a;
    background-color: #fafafa;
    transition: 0.5s;
}


h1 {
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
}

p {
    text-align: center;
}
h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

h1, h2, h3 {
    color: #484b6a;
    font-family: 'Open Sans', sans-serif;
}

.dark h1, .dark h2, .dark h3{
    color: #eeeeee;
}




@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.95rem;
    }
    h3 {
        font-size: 1.40rem;
    }
    p {
        font-size: 1.10rem;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1.2rem;
    }
}

/* Header */
header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #484b6a;
    border-bottom: #9394a5 1px solid;
}

.dark header {
    background-color: #272727;
    border-bottom: #eeeeee 1px solid;
}

.dark header {
    background-color: #272727;
}


.logo {
    font-size: 2.5rem;
    color: #fafafa;
}

.dark .logo {
    color: #eeeeee;
}

nav {
    position: sticky;
    z-index: 2;
    padding: 0 1.5rem;

    max-width: 1200px;
    margin: 0 auto;
}

nav a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 500ms ease-in-out 50ms;
}

.dark nav  a {
    color: #eeeeee;
    transition: color 500ms ease-in-out 50ms;
}

nav a:hover,a:focus {
    color: #9394a5;
}

.dark nav a:hover, .dark a:focus {
    color: #5b5b85;
    
}

.fa-bars, .fa-times {
    font-size: 2rem;
    cursor: pointer;
    color:  #fafafa;
}

.dark .fa-bars, .dark .fa-times {
    color: #eeeeee;
}

.item {
  padding: 10px;
}

/* Mobile menu */
.menu {
  z-index: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  
  margin: 0;
  padding: 0 1.2rem;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
}


.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}


@media screen and (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .menu {
        align-items: center;
        flex-wrap: nowrap;
        height: 80px;

        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .logo {
        order: 0;
        position: absolute;
        left: 40px;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
        padding: 0;
    }

    .item, .mode {
        padding: 0 1.5rem;
    }
    .toggle {
        display: none;
    }
    .mode {
        order: 2;
    }
}

/* Switch */

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(39, 38, 38);
    position: relative;
    cursor: pointer;
 
}
.switch-light {
    background-color: rgb(255, 203, 89);
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: 
        inset 4px 4px 4px rgb(255, 255, 255), 
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.flicker2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: 
        inset 4px 4px 4px rgb(255, 255, 255), 
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
    background-color: #272727;
    transition: 0.5s;
}
.moon2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}
.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}


.dark .flicker {
    transform: translateX(40px);
}


/* Presentation */

.presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1.75rem auto;
}

.photo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    font-size: 2.0rem;
    color: #484b6a;
    transition: color 500ms ease-in-out;
}

.icon:hover, .icon:focus {
    color: #9394a5;
}

.dark .icon {
    color: #eeeeee;
    transition: color 500ms ease-in-out;
}

.dark .icon:hover, .dark .icon:focus {
    color: #5b5b85;
}



.social-media ul{
    list-style-type: none;
    padding: 0 0;
    margin: 0.5rem 0;
}
.social-media li {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.name {
    text-align: center;
    color: #272727;
    padding: 0 0;
}
.dark .name {
    color: #eeeeee;
}


.avatar {
    width: 300px;
    height: 300px;
}

@media screen and (min-width: 768px) {
    .icon {
        font-size: 2.5rem;
    }
    .avatar {
        width: 400px;
        height: 400px;
    }
}

/* About me */

.about-me {
    margin-top: 8.6rem;
    padding: 2rem 0;
    background-color: #e4e5f1;
}

.dark .about-me {
    background-color: #313131;
}

.biography {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.dark .biography{
    color: #eeeeee;
}


.biography p {
    width: 80%;
    line-height: 2.0;
}


.career {
    display: flex;
    align-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.875rem;
    padding: 2rem 0;
}


.dark .career {
    color: #eeeeee;
}

.education, .languages, .interests {
    padding-bottom: 1.5rem;
    width: 280px;
}


.education ul {
    list-style-type: none;
    padding: 0 0;
    margin: 1.2rem 0;
}

.education .school {
    padding: 0 0;
}

.bullet {
    font-size: 1.2rem;
    font-weight: normal;
}

.languages ul, .interests ul {
    padding: 0 1.3rem;
    
}



@media screen and (min-width: 768px) {
    .education, .interests, .languages {
        width: 26.6%;
        padding: 1.5rem 1.2rem;
    }
}



/* Skills */

.programming-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5.5rem 0;
    padding: 2rem 0;

}

.dark .programming-skills {
    color: #eeeeee;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */
}

.skills-images {
    margin: 2rem;
}

.skills-images i,img {
    font-size: 8rem;
    padding: 0.6rem 0.4rem;
    text-align: center;
}


.fa-html5 {
    color: #E34C26;
}

.fa-css3-alt {
   color: #2965f1;
}
.fa-js{
    color: #F0DB4F;
}

.fa-python{
    color:#306998;
}

.fa-code {
    color: #3a54cc;
}

.fa-git-alt {
    color: #F1502F;
}

.skills-images .fa-github {
    color: #211F1F;
}

.dark .skills-images .fa-github {
    color: #eeeeee;
}

.skills-images figcaption {
    font-size: 1.1rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .skills-images i {
        font-size: 5.3rem;
    }
}

/* Projects */

.projects {
    margin: 8rem 0;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color: #e4e5f1;
}
.dark .projects {
    color: #eeeeee;
    background-color: #313131;
}

.projects h2 {
    text-align: center;
}


.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-image {
    border: #9394a5 1px solid;
}



.dark .project-image {
    border: #aaaaff 1px solid;
}

.dark .project-image img {
    border-bottom: #aaaaff 1px solid;
}


.project-image img {
    width: 260px;
    height: 260px;
    background-color: #d2d3db;
    border-bottom: #9394a5 solid 1px;
    transition: all 300ms ease-in-out;
}
.project-image a img {
    width: 600px;
}

.project-image img:hover, .project-image img:focus {
    background-color: #484b6a;
}


.dark .project-image img {
    background-color: #5b5b85;
    border-bottom: #aaaaff solid 1px;
    transition: all 300ms ease-in-out;
}

.dark .project-image img:hover, .dark .project-image img:focus {
    background-color: #aaaaff;
}




.project-image figcaption {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    background-color: #fafafa;
    transition: 300ms ease-in-out;
}


.project-image figcaption:hover, .project-image figcaption:focus {
    color: #d2d3db;
}

.dark .project-image figcaption {
    background-color: #313131;
    transition: 300ms ease-in-out;
}

.dark .project-image figcaption:hover, .dark .project-image figcaption:focus {
    color: #5b5b85;
}


.project-image a {
    text-decoration: none;
    color: #484b6a;
    background-color: #fafafa;
}

.dark .project-image a {
    color: #eeeeee;
    background-color: #313131;
}

.project-image:hover, .project-image:focus {
    text-decoration: none;
    color: #eeeeee;
}


@media screen and (min-width: 1024px) {
    .project-image img {
        width: 360px;
        height: 360px;
    }
}


/* Footer */

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #484b6a;
    color: #fff;
    text-align: center;
    border-top: 1px solid #9394a5;
  }
footer p {
    margin-right: 2%;
    color: #fafafa;
}

.dark footer p{
    color: #fff;
}
@media screen and (min-width: 1024px) {
    footer {
        text-align: right;
        border-top: white 1px solid;
    }
}

/* Skill tags */
.skills-tags{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:0.6rem;
    padding: 0.5rem 1rem 0;
    max-width: 1100px;
    margin: 0 auto;
}
.skill-tag{
    display:inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 999px;
    background-color: #d2d3db;
    color: #484b6a;
    border: 1px solid #9394a5;
    font-weight: 600;
    font-size: 0.95rem;
}
.dark .skill-tag{
    background-color: #313131;
    color: #eeeeee;
    border: 1px solid #5b5b85;
}


/* --- Added: unified skill tiles (text icons) --- */
.skills-text-icon{
    width: 70px;
    height: 70px;
    border-radius: 14px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 22px;
    background: var(--cardColor);
    color: var(--textColor);
    border: 2px solid rgba(147,148,165,0.35);
    margin: 0 auto 8px auto;
}

/* --- Added: project buttons --- */
.project-links{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.project-btn{
    padding: 8px 14px;
    border-radius: 999px;
    border: 2px solid rgba(147,148,165,0.45);
    text-decoration: none;
    color: var(--textColor);
    background: transparent;
    transition: transform 0.15s ease, background-color 0.15s ease;
}
.project-btn:hover{
    transform: translateY(-1px);
    background: rgba(170,170,255,0.12);
}

.projects h1 {
    text-align: center;
}

.projects > div { text-align: center; }
/* ===== Recommendation PDF Button ===== */

.recommendation-btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem;
}

.recommendation-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;

    padding: 0.9rem 1.6rem;
    border-radius: 999px;

    font-size: 1.05rem;
    font-weight: 600;
    text-decoration: none;

    color: #484b6a;
    background-color: #fafafa;
    border: 2px solid #9394a5;

    transition: transform 0.2s ease, box-shadow 0.2s ease,
                background-color 0.2s ease, color 0.2s ease;
}

.recommendation-btn i {
    font-size: 1.2rem;
    color: #d32f2f;
}

.recommendation-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    background-color: #484b6a;
    color: #ffffff;
}

.recommendation-btn:hover i {
    color: #ffffff;
}

.dark .recommendation-btn {
    background-color: #313131;
    color: #eeeeee;
    border-color: #aaaaff;
}

.dark .recommendation-btn:hover {
    background-color: #aaaaff;
    color: #272727;
}

.dark .recommendation-btn:hover i {
    color: #272727;
}
